<%= dropdown_helper(
  "Race Days",
  race_day_list_collection,
  {:id => "raceDayList"}) %>

<div id="js-raceDayBoard">
  <%= render :partial => "race_day_board", :locals => {:race => @race} %>
</div>
