<%= button_tag(
  "Race Days",
  {
    :id => "raceDayList",
    :type => "button",
    :class => "btn btn-secondary dropdown-toggle",
    "data-toggle" => "dropdown",
    "aria-haspopup" => "true",
    "aria-expanded" => "false",
  }
) %>
<div class="dropdown-menu" aria-labelledby="raceDayList">
  <% @races.each do |race| %>
    <a class="dropdown-item" href="#"><%= race["Date"] %></a>
  <% end %>
</div>
<div>
  Hello
</div>
